.template-grid {
    grid-area: body;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 5rem;
}

@media (max-width: 900px) {
    .template-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .template-grid {
        grid-template-columns: 1fr;
    }
}

.card-container{
    max-width: 430px;
}

.card-container:active{
    transform: scale(1.1);
}