.pokemon-information{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0;
}
.pokemon-column-information{
    display: flex;
    flex-direction: column;
    width: 45%;
}