.type-badge {
    padding: 5px 5px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    margin-right: 4px;
}

.type-badge.grass {
    background-color: green;
}

.type-badge.poison {
    background-color: mediumslateblue;
}

.type-badge.fire {
    background-color: orange;   
}

.pokemon-title {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.pokemon-id {
    font-size: 20px;
    font-weight: 500;
    color: #ffffffcc;
    margin-top: 75px;
}