.pokemon-card {
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

.card-text {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: auto;
    padding-left: 1rem;
    padding-top: 1rem;
}

.card-image {
    min-width: 40%;
    background-image: url("../../assets/Pokeball.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
}

.pokemon-card.grass {
    background-color: #8BBE8A;
}

.pokemon-card.fire {
    background-color: #FFA756;
}

.pokemon-card.water {
    background-color: #58ABF6;
}

.pokemon-card.normal {
    background-color: #B5B9C4;
}

.pokemon-card.poison {
    background-color: #9F6E97;
}

.pokemon-card.electric {
    background-color: #F2CB55;
}

.pokemon-card.ground {
    background-color: #F78551;
}

.pokemon-card.fairy {
    background-color: #EBA8C3;
}

.pokemon-card.bug {
    background-color: #8BD674;
}

.pokemon-card.fighting {
    background-color: #EB4971;
}

.pokemon-image {
    max-width: 140%;
}

.pattern-img{
    width: 60%;
    flex-grow: 1;
}