.buttom-atom{
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 0.8rem;
}

.red-button{
    background-color: #EA5D60;
    padding: 0.7rem 2.5rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
}

.super-logo{
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
}

.red-button:hover {
    transform: scale(1.2);
}

.buttom-atom:hover {
    transform: scale(1.2);
}

.buttom-atom.active {
    color: gray;
}