.header-navbar {
    display: flex;
    flex-direction: row;
    gap: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.1rem 0.05rem rgba(0, 0, 0, 0.2);
}

.icon-logo{
    max-width: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}